:root {
    --hc-page-bg: #222229;
    --hc-input-border: #fec629;
    --hc-button-bg: #468aff;

    --hc-button-secondary-bg: #222229;
    --hc-button-secondary-border: #468aff;

    --hc-text-color: #ffffff;
}

.nav-button-group {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link.high-contrast {
    background-color: var(--hc-button-bg);
}

.nav-link {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
}

.nav-link:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #04AA6D;
    color: white;
}

.round {
    border-radius: 10%;
}

.nav-icon-img {
    width: 3rem;
    height: 3rem;
}